*{
    padding: 8px;
}
h1{
    font-family: philosopher;
    text-align: center;
}
.hello{
    font-family: philosopher;
    text-align: center;
}
.nicname{
    font-family: philosopher;
    text-align: center;
}
.concepts{

}